#chessboardContainer {
    text-align: center;
}

#abc {
    margin: auto;
    display: inline-block;
}

#commands {
    padding: 8px;
    width: 600px;
    border: 2px solid grey;
    margin: 8px auto;
}

#commands > input[type='button'] {
    margin: 8px;
    background-color: gainsboro;
    border: none;
    height: 30px;
    min-width: 50px;
}

#commands > input[type='button']:hover {
    background-color: lightskyblue;
}

#testList {
    position: fixed;
    top: 0;
    left: 0;
    border: 2px solid black;
    overflow: auto;
}
