#chessboardContainer {
    text-align: center;
}

#abc {
    background: lightsteelblue;
    margin: auto;
    display: inline-block;
}

#commands {
    width: 400px;
    border: 2px solid grey;
    margin: 8px auto;
}

#commands > input[type='button'] {
    margin: 8px;
    background-color: gainsboro;
    border: none;
    height: 30px;
    width: 50px;
}

#commands > input[type='button']:hover {
    background-color: lightskyblue;
}
