#main-container {
    width: 90%;
    margin: auto;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: auto;
}

#pgn-textarea {
    height: 200px;
    width: 90%;
}

#commands {
    display: inline-block;
    margin: 20px auto;
}

.commands__button {
    margin: 2px;
    background-color: white;
    color: slategrey;
    font-size: 1.2em;
}

.commands__button:hover {
    background-color: slategrey;
    color: white;
}

.pgn-move:hover {
    cursor: pointer;
    background-color: orange;
}