#main-container {
    width: 90%;
    margin: auto;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: auto;
}

#pgn-textarea {
    height: 200px;
    width: 90%;
}

#commands {
    display: inline-block;
    margin: 20px auto;
}

.commands__button {
    margin: 2px;
    background-color: white;
    color: slategrey;
    font-size: 1.2em;
}

.commands__button:hover {
    background-color: slategrey;
    color: white;
}

#chessboard {
    display: inline-block;
    vertical-align: top;
}

#moves-div {
    display: inline-block;
    width: 150px;
    vertical-align: top;
    max-height: 360px;
    overflow: auto;
    margin: 0 10px;
}

.move-span {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    border-bottom: 1px gainsboro solid;
    color: grey;
}

#move-span_selected {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    border-bottom: 1px gainsboro solid;
    font-weight: bold;
    color: green;
}

.move-span:hover {
    background-color: gainsboro;
}
