.code {
    display: block;
    background-color: lavender;
    white-space: pre;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: .9em;
    line-height: 20px;
    padding: 16px;
    overflow: auto;
    max-height: 320px;
    margin-bottom: 16px;
}

pre {
    display: inline;
    font-family: "Lucida Console", Monaco, monospace;
}

.blue {
    color: dodgerblue
}

.number {
    color: darkred;
}

.pink {
    color: forestgreen;
}

.comment {
    color: forestgreen;
}
