
.code-title {
    display: inline-block;
    padding: 6px;
    background-color: lightgrey;
    color: dimgrey;
}

.code {
    display: block;
    background-color: lavender;
    white-space: pre;
    font-family: Monaco, monospace;
    font-size: 0.9em;
    padding: 8px;
    margin-bottom: 8px;
    overflow: auto;
    max-height: 500px;
}

pre {
    font-family: Monaco, monospace;
    display: inline;
}

.blue {
    color: dodgerblue
}

.number {
    color: steelblue;
}

.pink {
    color: darksalmon;
}

.comment {
    color: forestgreen;
}