.big-header {
    font-weight: normal;
    border-bottom: 1px solid gainsboro;
    margin: 50px auto;
}

.identifier-header {
    font-weight: normal;
    border-top: 2px solid steelblue;
}

.little-header {
    font-style: italic;
    font-weight: normal;
}

.method {
    margin: 50px auto;
}

.parameter-table {
    font-size: 0.9em;
    width: 100%;
    border-spacing: 0;
}

.parameter-table__header {
    font-weight: normal;
    font-size: 1.1em;
    text-align: left;
    background-color: steelblue;
    color: white;
    padding: 4px;
}

.parameter-table td {
    border-bottom: 1px solid gainsboro;
    padding: 4px;
    vertical-align: text-top;
}

.parameter-table td:first-child {
    background-color: lightsteelblue;
}

.link {
    color: steelblue;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.inline-code {
    font-family: "Lucida Console", Monaco, monospace;
    background-color: lavender;
    color: dimgrey;
    padding: 4px;
    font-size: .9em;
}
