.release {
    background-color:  gainsboro;
    color: black;
    margin: 20px auto;
    padding: 16px;
}

.release__title {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background-color: slategrey;
    color: white;
}

.release__date {
    color: grey;
    font-size: 0.9em;
}

.release__header {
    font-weight: normal;
}

.release__download {
    position: relative;
    border-bottom: 1px solid grey;
}

.release__link {
    text-decoration: none;
    font-weight: bold;
    color: steelblue;
}

.release__link:hover {
    text-decoration: underline;
}

.release__size {
    position: absolute;
    right: 0;
}

.list {
    padding: 0;
    margin: 16px;
}

li {
    margin: 8px;
}