#navigation {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    margin: 10px 0;
}

#content {
    display: inline-block;
    vertical-align: top;
    width: 72%;
    margin-left: 4%;
}

#result {
    margin: 24px auto;
}

#description {
    color: grey;
    text-align: justify;
}

#chessboard {
    display: inline-block;
    vertical-align: top;
    margin: auto;
}

.commands {
    margin: 10px;
}

.commands__button {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin: 8px 2px;
    background-color: gainsboro;
    color: slategrey;
    border: none;
    min-height: 40px;
    min-width: 40px;
    text-align: center;
    font-size: 1.2em;
}

.commands__button:hover {
    background-color: slategrey;
    color: white;
}

textarea {
    display: block;
    height: 100px;
    width: 100%;
    margin: 8px 0;
}

#black-name {
    margin: 10px 0;
    width: 400px;
    padding: 4px;
    color: white;
    background-color: black;
    border: 1px solid black;
    text-align: center;
}

#white-name {
    margin: 10px 0;
    width: 400px;
    padding: 4px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: steelblue;
}

.link:hover {
    text-decoration: underline;
}

.game {
    display: none;
}

#games-select {
    display: block;
    margin: 10px;
}

#moves-div {
    display: inline-block;
    vertical-align: top;
    max-height: 360px;
    width: 200px;
    overflow: auto;
    margin: 0 4px;
    font-size: 0.8em;
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.move-number-span {
    display: inline-block;
    vertical-align: top;
    width: 18%;
    border-bottom: 1px gainsboro solid;
    border-right: 1px gainsboro solid;
    color: grey;
    text-align: left;
}

.move-span {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 40%;
    border-bottom: 1px gainsboro solid;
    border-right: 1px gainsboro solid;
    text-align: center;
    color: grey;
}

#move-span_selected {
    color: green;
    background-color: palegreen;
}

.move-span:hover {
    background-color: gainsboro;
}