#navigation {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

#content {
    display: inline-block;
    vertical-align: top;
    width: 75%;
    margin: auto;
}

.example {
    width: 80%;
    margin: auto;
}

#result {
    margin: 20px auto;
}

p {
    font-size: 0.8em;
    overflow: auto;
    max-height: 200px;
    width: 100%;
}

.commands__button {
    margin: 10px 0;
    background-color: white;
    border: 1px solid slategrey;
    color: slategrey;
    padding: 4px;
    font-size: 1.2em;
    min-width: 40px;
    cursor: pointer;
}

.commands__button:hover {
    background-color: slategrey;
    color: white;
}

textarea {
    display: block;
    height: 100px;
    width: 100%;
    margin: 4px auto;
}

#black-name {
    margin: 10px auto;
    padding: 4px;
    color: white;
    background-color: black;
    border: 1px solid black;
}

#white-name {
    margin: 10px auto;
    padding: 4px;
    background-color: white;
    border: 1px solid black;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: steelblue;
}

.link:hover {
    text-decoration: underline;
}

#chessboard {
    display: inline-block;
    vertical-align: top;
}

#moves-div {
    display: inline-block;
    width: 150px;
    vertical-align: top;
    max-height: 360px;
    overflow: auto;
    margin: 0 10px;
}

.move-span {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    border-bottom: 1px gainsboro solid;
    color: grey;
}

#move-span_selected {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    border-bottom: 1px gainsboro solid;
    font-weight: bold;
    color: green;
}

.move-span:hover {
    background-color: gainsboro;
}