* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    position: relative;
}

h1, h2, h3 {
    margin: 10px 0;
}

#fixed-header {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: steelblue;
    width: 100%;
    border-bottom: lightsteelblue 1px solid;
}

#sub-fixed-header {
    position: relative;
    width: 72%;
    margin: auto;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.right {
    position: absolute;
    right: 0;
    margin: 0;
}

.header__link {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.header__link:hover {
    text-decoration: underline;
}

#selected-tab {
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

#main-container {
    height: 100%;
    padding: 50px 0;
}

#sub-main {
    width: 72%;
    margin: 24px auto;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: steelblue;
    color: lightsteelblue;
    width: 100%;
    margin-top: 50px;
}

#footer-inside {
    position: relative;
    width: 72%;
    margin: auto;
    padding: 25px 0;
}

.footer__link {
    color: white;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}