html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    position: relative;
}

h1, h2, h3 {
    margin: 10px 0;
}

#main-header {
    background-color: steelblue;
    width: 100%;
    border-bottom: lightsteelblue 1px solid;
}

#sub-main-header {
    position: relative;
    width: 72%;
    margin: auto;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    margin: auto;
    text-align: left;
}

.right {
    position: absolute;
    right: 0;
    margin: 0;
}

.header__link {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    color: lightblue;
    text-decoration: none;
}

.header__link:hover {
    text-decoration: underline;
    color: white;
}

#selected-tab {
    text-decoration: underline;
    color: white;
}

#main-container {
    height: 100%;
    margin: auto;
}

#sub-main {
    width: 72%;
    margin: auto;
}

footer {
    position: absolute;
    bottom: -300px;
    background-color: steelblue;
    width: 100%;
}

#footer-inside {
    width: 72%;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: lightblue;
}

.footer__block {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin: 4% 0;
    text-align: center;
}

.footer__header {
    margin: 16px 0 32px 0;
    font-size: 1em;
    font-weight: normal;
}

.footer__p {
    margin: 16px 0;
}

.footer__link {
    color: white;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}