#home-header {
    background-color: steelblue;
    background-image: url("../images/chess-vectors.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 10px;
}

#home-header__shorter {
    width: 72%;
    margin: auto;
}

h1 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 3em;
    margin: 64px;
}

h2 {
    color: white;
    font-size: 2em;
    font-weight: normal;
    margin: 56px;
}

#button-link {
    background-color: steelblue;
    border: 1px solid white;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
}

#button-link:hover {
    background-color: white;
    color: steelblue;
}

#span-version {
    display: block;
    margin: 24px;
    font-style: italic;
    font-size: 0.8em;
    color: white;
}

#introduction {
    margin: auto;
}

.introduction__block {
    width: 33%;
}

.introduction__title {
    text-transform: uppercase;
    margin: 24px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
}

.introduction__paragraph {
    text-align: justify;
    margin: 24px;
}

hr {
    width: 66%;
}

#left-container, #right-container {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.container__shorter {
    width: 92%;
    margin: 20px auto;
    text-align: center;
}

#game-code {
    display: none;
}

#chessboard {
    display: inline-block;
    margin: auto;
}