.overview {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

h1 {
    font-size: 1.6em;
}

.overview-header {
    font-weight: normal;
    border-bottom: 2px solid gainsboro;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list__item {
    margin: 4px;
}

.link {
    color: steelblue;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
