#left-container, #right-container {
    width: 50%;
}

.left-container__div {
    width: 80%;
    margin: auto;
}

#pgn-notation {
    padding: 4px;
    margin: 10px auto;
    border: 1px solid black;
    font-size: 120%;
    height: 100px;
    overflow: auto;
}

.pgn-move:hover {
    cursor: pointer;
    background-color: orange;
}

#pgn-move_selected {
    background-color: palegreen;
}

#pgn-textarea {
    display: block;
    height: 100px;
    width: 100%;
    margin: 4px auto;
    border: 1px solid black;
}

#pgn-button {
    display: block;
    width: 100%;
    margin: 4px auto;

}

input[type=button] {
    margin: 10px 0;
    background-color: darkslategrey;
    color: white;
    padding: 8px;
    font-size: 1.2em;
    border: none;
}

input[type=button]:hover {
    background-color: black;
}