#main-container {
    margin: 0 10%;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

#pgn-textarea {
    height: 200px;
    width: 90%;
}

.commands__button {
    background-color: white;
    color: slategrey;
    font-size: 1.2em;
}

.commands__button:hover {
    background-color: slategrey;
    color: white;
}

.pgn-move:hover {
    cursor: pointer;
    background-color: orange;
}